@media(prefers-color-scheme: dark) {
    .ace-clouds .ace_print-margin{
        background: #181818 !important;
    }
    .hljs{
        background: #444 !important;
        color: white !important;
        border-radius: 5px !important;
    }
    code, pre{
        background: #444 !important;
    }
    .ace-clouds .ace_storage, .ace-clouds .ace_support.ace_class, .ace-clouds .ace_support.ace_function, .ace-clouds .ace_support.ace_other, .ace-clouds .ace_support.ace_type{
        color: #3AD8D8 !important;
    }
    .ace-clouds .ace_keyword.ace_operator{
        color: #B7B7B7 !important;
    }
    .ace-clouds .ace_constant.ace_numeric{
        color: #B959F6 !important;
    }
    .mp-preview-zone[data-v-6d5597b1], .mp-editor-ground[data-v-6d5597b1], .mp-editor-container[data-v-6d5597b1] {
        border-color: #444444 !important;
    }
    .ace-clouds .ace_keyword, .ace-clouds .ace_meta, .ace-clouds .ace_support.ace_constant.ace_property-value{
        color: #506A90 !important;
    }
    .ace-clouds .ace_gutter{
        background-color: #141414 !important;
        color: #ccc !important;
    }
    .ace-clouds .ace_gutter-active-line{
        background-color: #232323 !important;
    }
    .ace-clouds .ace_marker-layer .ace_active-line{
        background-color: #00042E !important;
    }
    .cover-upload, pre[data-v-1124744c] {
        background-color: #333333 !important;
        border:none !important;
    }
    button[data-v-370e72e2]:hover {
        color: rgb(158, 97, 225) !important;
        border-color: rgb(158, 97, 225) !important;
        background-color: #555555 !important;
    }
    .solution-article > .operations.float[data-v-245af330], button[data-v-370e72e2] {
        background-color: #333333 !important;
    }
    .lg-fg-bluedark {
        color: #3388bb !important;
    }
    .am-panel-primary>.am-panel-hd {
        background-color: #224466 !important;
        color: #3388bb !important;
    }
    .CodeMirror-gutters {
        background-color: #222222 !important;
        border:none !important;
    }
    .mp-editor-menu>li>a[data-v-a97ae32a], .mp-icon-header[data-v-a97ae32a], .mp-preview-content[data-v-a97ae32a], .mp-preview-area, .CodeMirror, .drop[data-v-688958d9] {
        background-color: #333333 !important;
        color: #eeeeee !important;
        border:none !important;
    }
    .inner-card[data-v-b542ad86] {
        border: none;
        !important;
        border-radius: 5px !important;
        background-color: #333333 !important;
    }
    .mp-editor-menu>li>a[data-v-6d5597b1] {
        border: none !important;
    }
    .problem-order[data-v-04423d3c], .inner-card[data-v-051a635c], .mp-editor-ground[data-v-6d5597b1], .mp-editor-toolbar {
        background: #222222 !important;
    }
    .exlg-emo-btn {
        background: #333333 !important;
    }
    .problem-order[data-v-226afee4] {
        background: #333333 !important;
    }
    .lg-punch > .lg-fg-greendark {
        color: rgb(10, 134, 32) !important;
    }
    .time[data-v-0f607a24] {
        color: #cccccc !important;
    }
    .lang-select > .text[data-v-087e057c] {
        color:#eeeeee !important;
    }
    .marked[data-v-5a58a989] code, .marked[data-v-5a58a989] pre, pre[exlg-copy-code-block], .marked[data-v-5a58a989] pre>code {
        background: #333333 !important;
        color: white;
        border: none !important;
        border-radius: 5px !important;
    }
    .expand[data-v-c2bcb030] {
        background: linear-gradient(rgba(255, 255, 255, 0), #222) !important;
    }
    .inner-card[data-v-7cdb640e], .discuss[data-v-70cb3d5a], .inner-card[data-v-572457ba] {
        background-color: #333333 !important;
        border-color: #333333 !important;
        border-radius: 5px !important;
    }
    .am-comment-main:after {
        border-right-color: #444444 !important;
    }
    .am-comment-hd {
        background: #444444 !important;
    }
    .am-comment-bd {
        background: #333333 !important;
    }
    .item[data-v-cc11993e]::hover {
        background-color: rgba(255, 255, 255, .25) !important;
    }
    strong, .lfe-body, .lfe-form-sz-middle {
        color: #eeeeee !important;
    }
    .expand-tip > span[data-v-e4b7c2ca], .light-black[data-v-65a4f428] {
        color: #dddddd !important;
    }
    pre[data-v-52f2d52f] {
        border-color: #333333 !important;
    }
    .notice-card[data-v-07adca04] {
        border-color: #333333 !important;
    }
    .time[data-v-71e80b39] {
        color: #cccccc !important;
    }
    .title[data-v-71e80b39], .content[data-v-71e80b39] {
        color: #eeeeee !important;
    }
    .am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field {
        color: #eeeeee !important;
        background-color: #111111 !important;
        border-radius: 5px !important;
    }
    .am-panel {
        background-color: #222222 !important;
        border-color: #222222 !important;
    }
    .avatar-right[data-v-5137b88f], .detail[data-v-5137b88f], .combo-wrapper.text[data-v-087e057c] {
        color: #eee !important;
    }
    .text[data-v-087e057c], .refined-input input[data-v-a7f7c968], .frame[data-v-a7f7c968] {
        color: #eee !important;
        background: #333 !important;
    }
    .info-content[data-v-fb37913c] {
        color: #eeeeee !important;
    }
    .marked[data-v-5a58a989] hr {
        border-color: #444444 !important;
    }
    .float-bottom[data-v-24f898d2] {
        background:#333333 !important;
    }
    button[data-v-66021821] {
        border-color: #333333 !important;
        background:#333333 !important;
        color: #eee !important;
    }
    .progress-frame[data-v-47712372] {
        background-color: #3e3e3e !important;
        border-color: #3e3e3e !important;
    }
    button.selected[data-v-66021821] {
        background-color: rgb(98, 47, 175) !important;
    }
    pre[data-v-52f2d52f] {
        background-color:#333333 !important;
    }
    .border .row[data-v-24f898d2]:not(:last-child) {
        border-color: #333333 !important;
    }
    .result-count > .number[data-v-41e71722], .result-count {
        color: #eeeeee !important;
    }
    .ace-clouds {
        background: black !important;
        color: white !important;
    }
    .inner-card[data-v-62e64f9a], .inner-card[data-v-78fafe5c], .inner-card[data-v-4b8033a4] {
        background-color: #222222 !important;
        border-color:#555555 !important;
    }
    .header-layout.tiny[data-v-90bffe18][data-v-7958fe72] {
        background-color:transparent !important;
    }
    .container[data-v-46cb0950], .header-link[data-v-46cb0950] {
        color: #fff !important;
    }
    .card[data-v-796309f8], .inner-card[data-v-4b8033a4] {
        background-color: #222222 !important;
        color: #eeeeee !important;
        border-radius: 5px !important;
    }
    .lg-article {
        color: #eeeeee !important;
        background-color: rgba(34, 34, 34, .95) !important;
    }
    .test-case[data-v-bb301a88] {
        box-shadow: 5px 5px 5px #555 !important;
    }
}
