	/*讨论区修复*/
	 .am-input-group .am-form-field:first-child, .am-input-group-btn:first-child>.am-btn, .am-input-group-btn:first-child>.am-btn-group>.am-btn, .am-input-group-btn:first-child>.am-dropdown-toggle, .am-input-group-btn:last-child>.am-btn-group:not(:last-child)>.am-btn, .am-input-group-btn:last-child>.am-btn:not(:last-child):not(.dropdown-toggle), .am-input-group-label:first-child {
	    border-radius: 5px !important;
	}
	.am-input-group-primary .am-input-group-label {
	    background: var(--lfe-color--primary) !important;
	}
	/*滚动*/
	 body::-webkit-scrollbar {
	    /*滚动条整体样式*/
	    width: 10px;
	    /*高宽分别对应横竖滚动条的尺寸*/
	    height: 1px;
		background: #333333;
	}
	body::-webkit-scrollbar-thumb {
	    /*滚动条里面小方块*/
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	    background: #535353;
	}
	body::-webkit-scrollbar-track {
	    border-radius:6px;
	}
	.ace_scrollbar::-webkit-scrollbar {
	    /*滚动条整体样式*/
	    width: 10px;
	    /*高宽分别对应横竖滚动条的尺寸*/
	    height: 1px;
		background: #333333;
	}
	.ace_scrollbar::-webkit-scrollbar-thumb {
	    /*滚动条里面小方块*/
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	    background: #535353;
	}
	.ace_scrollbar::-webkit-scrollbar-track {
	    border-radius:6px;
	}
